body{
    background-color: black;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
}

.logo img{
    width: 100%;
}

.dropdown{
    display: inline-block;
    padding-right: 80px;
    padding-top: 75px;
}
.dropdown button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-color: white;
}
.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}





