body{
    background-color: black;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
}

.logo img{
    width: 50%;
}

.dropdown{
    display: inline-block;
    padding-top: 43px;
    padding-right: 15px;
}
.dropdown button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
}
.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    right: 0;
}
.dropdown:hover .content{
    display: block;
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}

.photos img{
    width: 100%;
}

#foot{
    width:100%;
    color: white;
}






